. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(233, 227, 227, 0.89);
}

main {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
}

.flex-container h3 {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: Lexend Deca;
    font-weight: 400;
}

.flex-container p {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Big Shoulders Display;
    font-weight: 700;
}

.flex-container2 {
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
}

.flex-container2 h3 {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: Lexend Deca;
    font-weight: 400;
}

.flex-container2 p {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Big Shoulders Display;
    font-weight: 700;
}

.flex-container3 {
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
}

.flex-container3 h3 {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: Lexend Deca;
    font-weight: 400;
}

.flex-container3 p {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Big Shoulders Display;
    font-weight: 700;
}

.generalcontainer {
    padding: 2em;
    display: flex;
    border-radius: 12px;
}

button {
    background-color: white;
    border:  1px solid white;
    border-radius: 15px;
    color: white;
    padding: 08px;   
}
